@font-face {
    font-family: "TheMixSemiBold-Plain";
    src: url("fonts/TheMixSemiBold-Plain.otf");
  }
 
  


.homeImage {
    background-image: url(images/slide2.jpg) ;
    height:800px;
    /*filter:brightness(80%); */
    position: relative
}



.homeImage h2{
    margin: auto;
    font-family:"TheMixSemiBold-Plain";
    color:  #ffffff;
    font-weight:950px;
    font-size:50px;
    text-align:center;
    width:75%;
    
}

.title{
    width:100%;
    position:absolute;
    bottom:10%
}

.foundations{
    position:relative;
    background-color: #F5F5F5;
    height:600px
}

.foundations h3{

    margin: auto;
    font-family:"TheMixSemiBold-Plain";
    color:  Black;
    font-weight:950px;
    font-size:30px;
    text-align:center;
    width:75%;
    



}

.foundationsTitle{
    
    padding-top:25px;
    width: 100%
}


.boxes{
padding-top:40px;    
display:flex;
justify-content: space-evenly;
width:100%;




}

.boxes > div{

display:flex;

flex-direction: column; 
width:250px;
height:400px;
background-color: white; 



}
