@font-face {
    font-family: "TheMixSemiBold-Plain";
    src: url("fonts/TheMixSemiBold-Plain.otf");
  }



*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;

}

.navbar{
    padding:20px;
    display: flex;
    /*background-color: grey;*/
    flex-direction: row;
    object-fit: cover;
   

    
}



.navbar > img{
    width:94px;
    height:127px;
    margin-left: 10%;
}

.navbar ul{
    margin-left:250px;
    list-style:none;
    display:flex;
    float:right;
    align-items: center;
    justify-content:space-evenly
}

.navbar ul > li{
    margin:15px;
    font-family:"TheMixSemiBold-Plain";
    font-size: 0.85rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 3rem;
}

.navbar button{
    background-color: rgb(0, 120, 190);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: "TheMixSemiBold-Plain";
    font-size: 13.6px;
    font-style: normal;
    font-weight:400;
    padding:0px 13.6px 0px 13.6px;
    height:40px;
    line-height: 40px;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property:all;
    transition-timing-function: linear;
    width:100px;
    margin:10px
 

}



